#fix-position {
    margin: auto;
    max-width: 620px;
}

#title-text, #timer {
    font-weight: bold;
    color: white;

}

#title-text {
    display: inline;
    font-size: 30px;
}

#timer {
    text-align: center;
    font-size: 120px;
}

#icon {
    vertical-align: middle;
    padding-bottom: 13px;
}

button {
    cursor: pointer;
    color: rgb(67, 126, 168);
    background-color: white;
    height: 55px;
    width: 200px;
    border: none;
    font-size: 22px;
}

body {
    background-color: rgb(67, 126, 168);
    font-family: 'ArialRounded', Arial, sans-serif;
}
