#fix-position {
  margin: auto;
  max-width: 620px;
}

#title-text, #timer-box {
  font-weight: bold;
  color: white;

}

#title-text {
  display: inline;
  font-size: 30px;
}

#timer-box {
  background-color: rgba(255, 255, 255, 0.1);
  margin: auto;
  margin-top: 35px;
  max-width: 480px;
  border-radius: 6px;
  text-align: center;
}

#margin-box {
  max-width: 620px;
  margin: auto;
}

#icon {
  vertical-align: middle;
  padding-bottom: 13px;
}

.start {
  cursor: pointer;
  color: rgb(67, 126, 168);
  background-color: white;
  height: 55px;
  width: 200px;
  border: none;
  font-size: 22px;
  border-radius: 4px;
  /* When the button is press box-shadow should disappear */
  box-shadow: rgb(235, 235, 235) 0px 6px 0px;
  margin-bottom: 30px;
}

#timer-category {
  padding-right: 25px;
}

.timer-pomodoro, .timer-break {
  cursor: pointer;
  color: white;
  border: medium none;
  font-size: 18px;
  background: rgba(0, 0, 0, 0);
  margin-left: 30px;
  margin-top: 20px;
  padding-bottom: 5px;
  padding-top: 5px;
}

.timer-button-click {
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  padding-bottom: 5px;
  padding-top: 5px;
}

.button-start-click {
  padding: 10px;
  box-shadow: none;
}

hr {
  margin: auto;
  max-width: 620px;
  color: white;
}

body {
  background-color: rgb(67, 126, 168);
  font-family: 'ArialRounded', Arial, sans-serif;
}

h4 {
  font-size: 120px;
  margin-top: 15px;
  margin-bottom: 25px;
}

a {
  text-decoration: none;
}
